* {
  background-color: #f1f5f5;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f1f5f5;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-darkgreen {
  background-color: #13cf135a; /* Dark Green */
  border-color: #13cf135a;
}

.btn-darkgreen:hover {
  background-color: #13cf135a; /* Dark Green */
  border-color: #13cf135a;
}

.btn-darkgreen:active {
  background-color: #13cf135a; /* Dark Green */
  border-color: #13cf135a;
}

.btn:focus {
  outline: none;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.clr-btn {
  padding: 2.5px;
  margin-left: 10px;
  margin-top: -15px;
  margin-bottom: 20px;
  font-size: 14px; /* or adjust the margin as per your needs */
}

#wea {
  background-image: url("assets/weather.jpg");
  background-size: cover;
  color: rgb(0, 0, 0);
}

#flames {
  background-image: url("assets/flames.jpg");
  background-size: cover;
  color: rgb(0, 0, 0);
}

#dropdownMenuButton {
  background-image: url("assets/planet.jpg");
  background-size: cover;
  color: rgb(255, 255, 255);
}
